set -gx OPENAI_API_KEY {{ dashlaneNote "OPENAI_API_KEY" }}
set -gx FIRECRAWL_API_KEY {{ dashlaneNote "FIRECRAWL_API_KEY" }}
set -gx CONTEXT7_API_KEY {{ dashlaneNote "CONTEXT7_API_KEY" }}
set -gx OPENAI_API_KEY {{ dashlaneNote "OPENAI_API_KEY"}}
set -gx MISTRAL_API_KEY {{ dashlaneNote "MISTRAL_API_KEY"}}
set -gx BRAVE_API_KEY {{ dashlaneNote "BRAVE_API_KEY"}}
