[data.jelly]
base0 = "#13181e"
base1 = "#161c23"
base2 = "#232d38"
base3 = "#313f4e"
base4 = "#415367"
base5 = "#abb2bf"
fg0 = "#c6b8ad"
fg1 = "#e5ded6"
teal = "#00988e"
yellow = "#dcb659"
blue = "#36b2d4"
lblue = "#59dcd8"
orange = "#dc7759"
red = "#d32c5d"
lred = "#dc597f"
purp = "#b759dc"
lgreen = "#7fdc59"

[diff]
command = "delta"
