{
  "name": "Jelly",
  "base": "dark",
  "overrides": {
    "text": "{{ .jelly.fg1 }}",
    "inverseText": "{{ .jelly.base0 }}",
    "subtle": "{{ .jelly.base5 }}",
    "inactive": "{{ .jelly.base4 }}",
    "inactiveShimmer": "{{ .jelly.base5 }}",

    "claude": "{{ .jelly.orange }}",
    "claudeShimmer": "{{ .jelly.yellow }}",
    "claudeBlue_FOR_SYSTEM_SPINNER": "{{ .jelly.blue }}",
    "claudeBlueShimmer_FOR_SYSTEM_SPINNER": "{{ .jelly.lblue }}",

    "permission": "{{ .jelly.blue }}",
    "permissionShimmer": "{{ .jelly.lblue }}",
    "autoAccept": "{{ .jelly.purp }}",
    "autoAcceptShimmer": "{{ .jelly.fg1 }}",
    "planMode": "{{ .jelly.teal }}",
    "skill": "{{ .jelly.purp }}",
    "remember": "{{ .jelly.purp }}",
    "merged": "{{ .jelly.purp }}",
    "suggestion": "{{ .jelly.teal }}",
    "ide": "{{ .jelly.lblue }}",

    "bashBorder": "{{ .jelly.lred }}",
    "promptBorder": "{{ .jelly.base4 }}",
    "promptBorderShimmer": "{{ .jelly.base5 }}",

    "background": "{{ .jelly.teal }}",
    "success": "{{ .jelly.lgreen }}",
    "error": "{{ .jelly.red }}",
    "warning": "{{ .jelly.yellow }}",
    "warningShimmer": "{{ .jelly.orange }}",

    "diffAdded": "#2b432b",
    "diffAddedDimmed": "#233329",
    "diffAddedWord": "#3e6636",
    "diffRemoved": "#3f2633",
    "diffRemovedDimmed": "#2e232e",
    "diffRemovedWord": "#633245",

    "fastMode": "{{ .jelly.lgreen }}",
    "fastModeShimmer": "{{ .jelly.fg1 }}",
    "effortUltra": "{{ .jelly.lred }}",
    "briefLabelClaude": "{{ .jelly.orange }}",
    "briefLabelYou": "{{ .jelly.teal }}",
    "rate_limit_fill": "{{ .jelly.teal }}",
    "rate_limit_empty": "{{ .jelly.base3 }}",

    "userMessageBackground": "{{ .jelly.base1 }}",
    "bashMessageBackgroundColor": "{{ .jelly.base1 }}",
    "memoryBackgroundColor": "{{ .jelly.base1 }}",
    "userMessageBackgroundHover": "{{ .jelly.base2 }}",
    "composerSidebarBackground": "{{ .jelly.base2 }}",
    "selectionBg": "{{ .jelly.base3 }}",

    "clawd_body": "{{ .jelly.orange }}",
    "clawd_background": "{{ .jelly.base0 }}",
    "professionalBlue": "{{ .jelly.blue }}",
    "chromeYellow": "{{ .jelly.yellow }}",

    "red_FOR_SUBAGENTS_ONLY": "{{ .jelly.red }}",
    "blue_FOR_SUBAGENTS_ONLY": "{{ .jelly.blue }}",
    "green_FOR_SUBAGENTS_ONLY": "{{ .jelly.lgreen }}",
    "yellow_FOR_SUBAGENTS_ONLY": "{{ .jelly.yellow }}",
    "purple_FOR_SUBAGENTS_ONLY": "{{ .jelly.purp }}",
    "orange_FOR_SUBAGENTS_ONLY": "{{ .jelly.orange }}",
    "pink_FOR_SUBAGENTS_ONLY": "{{ .jelly.lred }}",
    "cyan_FOR_SUBAGENTS_ONLY": "{{ .jelly.lblue }}"
  }
}
