{
  "$schema": "https://opencode.ai/theme.json",
  "defs": {
    "blue":   "{{ .jelly.blue }}",
    "lblue":  "{{ .jelly.lblue }}",
    "teal":   "{{ .jelly.teal }}",
    "yellow": "{{ .jelly.yellow }}",
    "orange": "{{ .jelly.orange }}",
    "red":    "{{ .jelly.red }}",
    "lred":   "{{ .jelly.lred }}",
    "purp":   "{{ .jelly.purp }}",
    "lgreen": "{{ .jelly.lgreen }}",
    "fg0":    "{{ .jelly.fg0 }}",
    "fg1":    "{{ .jelly.fg1 }}",
    "base0":  "{{ .jelly.base0 }}",
    "base1":  "{{ .jelly.base1 }}",
    "base2":  "{{ .jelly.base2 }}",
    "base3":  "{{ .jelly.base3 }}",
    "base4":  "{{ .jelly.base4 }}",
    "base5":  "{{ .jelly.base5 }}"
  },
  "theme": {
    "primary": "blue",
    "secondary": "purp",
    "accent": "yellow",
    "error": "red",
    "warning": "orange",
    "success": "lgreen",
    "info": "teal",
    "text": "fg0",
    "textMuted": "base4",
    "background": "none",
    "backgroundPanel": "base0",
    "backgroundElement": "base1",
    "border": "base1",
    "borderActive": "base3",
    "borderSubtle": "base2",
    "diffAdded": "lgreen",
    "diffRemoved": "lred",
    "diffContext": "base5",
    "diffHunkHeader": "base5",
    "diffHighlightAdded": "lgreen",
    "diffHighlightRemoved": "red",
    "diffAddedBg": "base3",
    "diffRemovedBg": "base2",
    "diffContextBg": "none",
    "diffLineNumber": "base4",
    "diffAddedLineNumberBg": "base2",
    "diffRemovedLineNumberBg": "none",
    "markdownText": "fg0",
    "markdownHeading": "blue",
    "markdownLink": "yellow",
    "markdownLinkText": "lblue",
    "markdownCode": "lgreen",
    "markdownBlockQuote": "teal",
    "markdownEmph": "purp",
    "markdownStrong": "yellow",
    "markdownHorizontalRule": "base4",
    "markdownListItem": "red",
    "markdownListEnumeration": "lblue",
    "markdownImage": "blue",
    "markdownImageText": "lblue",
    "markdownCodeBlock": "fg0",
    "syntaxComment": "base5",
    "syntaxKeyword": "yellow",
    "syntaxFunction": "purp",
    "syntaxVariable": "fg0",
    "syntaxString": "fg0",
    "syntaxNumber": "blue",
    "syntaxType": "blue",
    "syntaxOperator": "orange",
    "syntaxPunctuation": "base4"
  }
}
