{
  "permissions": {
    "additionalDirectories": [
      "{{ .chezmoi.homeDir }}/Code/murmure/metacognition"
    ]
  },
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      }
    ]
  },
  "enabledPlugins": {
    "superpowers@superpowers-marketplace": true
  },
  "extraKnownMarketplaces": {
    "superpowers-marketplace": {
      "source": {
        "source": "github",
        "repo": "obra/superpowers-marketplace"
      }
    }
  },
  "includeCoAuthoredBy": false,
  "advisorModel": "opus",
  "theme": "custom:jelly",
  "model": "opus[1m]",
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  }
}
